<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE_CAMERA" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE_MICROPHONE" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE_MEDIA_PLAYBACK" />

    <application>
        <activity
            android:name="io.trtc.tuikit.atomicx.common.permission.PermissionActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:launchMode="singleTask"
            android:theme="@style/CommonActivityTranslucent"
            android:windowSoftInputMode="stateHidden|stateAlwaysHidden" />

        <service
            android:name="io.trtc.tuikit.atomicx.common.foregroundservice.AudioForegroundService"
            android:exported="false"
            android:foregroundServiceType="microphone" />

        <service
            android:name="io.trtc.tuikit.atomicx.common.foregroundservice.VideoForegroundService"
            android:exported="false"
            android:foregroundServiceType="camera|microphone" />

        <service
            android:name="io.trtc.tuikit.atomicx.common.foregroundservice.MediaForegroundService"
            android:enabled="true"
            android:exported="false"
            android:foregroundServiceType="mediaPlayback" />
    </application>
</manifest>